#version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb_local
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: Dresh7ocDuic
    volumes:
      - ./data:/data/db
